<div class="off-canvas ecommerce-header-off-canvas position-left" id="ecommerce-header" data-off-canvas>
 
<button class="close-button" aria-label="Close menu" type="button" data-close>
<span aria-hidden="true">&times;</span>
</button>
<ul class="vertical menu dropdown" data-dropdown-menu>
<li class="main-nav-link"><a href="#">Home</a></li>
<li class="main-nav-link"><a href="#">Our Work</a></li>
<li class="main-nav-link"><a href="#">Events</a></li>
<li class="main-nav-link"><a href="#">News</a></li>
<li class="main-nav-link"><a href="#">Collaborate</a></li>
<li class="main-nav-link"><a href="#test">Resources</a>
    <ul class="menu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
</li>
<li class="main-nav-link"><a href="#">Our Team</a></li>
</ul>
<hr>
 
<ul class="menu vertical">
<li><a href="#">Join COAR</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>
<div class="off-canvas-content" data-off-canvas-content>
<div class="ecommerce-header-top show-for-large">
<div class="row align-justify">
<div class="ecommerce-header-top-message">
(COAR) at Argonne National Laboratory
</div>
<div class="ecommerce-header-top-links">
<ul>
<li><a href="#">Join COAR</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>
</div>
</div>
<div class="ecommerce-header top-bar row show-for-large">
<div class="top-bar-left">
<ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu>
<li class="main-nav-link"><a href="#">Home</a></li>
<li class="main-nav-link"><a href="#">Our Work</a></li>
<li class="main-nav-link"><a href="#">Events</a></li>
<li class="main-nav-link"><a href="#">News</a></li>
<li class="main-nav-link"><a href="#">Collaborate</a></li>
<li class="main-nav-link"><a href="#test">Resources</a>
    <ul class="menu">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
      <li><a href="#">Four</a></li>
    </ul>
</li>
<li class="main-nav-link"><a href="#">Our Team</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button search-button"><i class="fa fa-search" aria-hidden="true"></i>
</button></li>
</ul>
</div>
</div>
<div class="ecommerce-header-mobile hide-for-large">
<div class="ecommerce-header-mobile-left">
<button class="menu-icon" type="button" data-toggle="ecommerce-header"></button>
<form class="ecommerce-header-search-exandable">
<input type="search" placeholder="Search">
</form>
</div>
<div class="ecommerce-header-mobile-center">
<a href="#"><!--<img class="logo" src="https://placehold.it/130x30">--></a>
</div>
<div class="ecommerce-header-mobile-right">
<!--<i class="fa fa-shopping-cart"></i>-->
</div>
</div>
</div>
