<header>
  <div class="row align-middle">
    <div class="small-12 medium-8 columns pl10">
      <a href="index.html"><span id="logo">[COAR] <sup class="subheader"><small>at Argonne National Laboratory</small></sup></span></a>
    </div>
    <div id="argonne-logo" class="small-12 medium-4 columns text-right">
      <a href="http://www.anl.gov/"><img src="assets/img/argonne-logo.png" alt="Argonne National Laboratory"/></a>
    </div>
  </div><!--/.row-->
</header>

{{> multilevel-offcanvas-menu }}
