<header class="expanded row">
  <div class="small-12 medium-8 columns">
    <div id="logo">Cyber Operations, Analysis, and Research</div>
    <div id="tagline" class="subheader">(COAR) at Argonne National Laboratory</div>
  </div>
  <div id="argonne-logo" class="small-12 medium-4 columns text-right">
    <img src="assets/img/argonne-logo.png" alt="Argonne National Laboratory"/>
  </div>
</header>

<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#">Home</a>
        <ul class="menu vertical">
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </li>
      <li><a href="#">Our Work</a></li>
      <li><a href="#">Events</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Collaborate</a></li>
      <li><a href="#">Join COAR</a></li>
      <li><a href="#">Resources</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
